{% extends "base.html" %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-2 md:gap-6">
{% for post in post_list %}
    <div class="post-entry bg-slate-300 my-3 p-6 ">

        <h2 class="hover:underline"><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
        <p class="text-sm font-normal">{{ post.body|truncatewords:20 }}</p>

    </div>
{% endfor %}
    <div class="pagination mt-6">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

</div>
{% endblock content %}